@import url('./normal.css');

body {
    display: flex;
    align-items: center;
    background-color: #2337C6;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}


.content {
    position: relative;
    background-color: white;
    padding: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: 600px;
    min-height: calc(100vh - 20px);
    border-radius: 20px;
    border: 2px solid gray;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.question {
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 50px;
}

.answer-btn, .result__btn {
    margin-bottom: 20px;
    border: 2px solid #3498db;
    text-align: left;
    padding: 15px;
    color: black;
    border-radius: 10px;
    background-color: white;
}

.incorrect {
    background-color: red;
    border: 2px solid red;
    color: white;
}

.correct {
    background-color: green;
    border: 2px solid green;
    color: white;
}

.answer-btn:hover, .next:hover, .finish:hover {
    border: 2px solid #2337C6;
    background-color: #2337C6;
    color: white;
    transition: all ease-in-out 250ms;
}
.answer-btn.click {
    border: 2px solid #3498db;
    background-color: #3498db;
    color: white;
}

.finish, .result {
    display: none;
}

.next, .finish {
    position: absolute;
    max-width: calc(600px - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 30px;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
    border: 2px solid #3498db;
    background-color: #3498db;
}


.result__title {
    font-size: 30px;
    text-align: center;
}

.result__list {
    margin-bottom: 60px;
}
.result__question {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.result__comment {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}